html,
body {
  height: 100%;
  background-color: #212226;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 72px;
}

.fa-instagram {
  font-size: 64px;
  color: white;
}

.fa-instagram:hover,
a:hover {
  color: #454650;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

label {
  font-size: 16px;
}

.form-control {
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: #fff;
  /* cursor: pointer; */
  overflow: hidden;
  outline: none;
  color: #fff;
}

.form-control:focus {
  border-color: #fff;
}

.btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: #fff;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 16px;
}

.btn:hover {
  background-color: #fff;
  color: #212226;
}

.btn:active,
.btn:focus {
  background-color: transparent;
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  .row {
    margin-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .col-md-8 {
    padding-left: 80px;
  }
}

@media (max-width: 992px) {
  img {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 80%;
  }
}
