html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #212226;
  color: #fff;
}

h1 {
  font-family: 'Staatliches', cursive;
  font-size: 72px;
}

.fa-instagram {
  font-size: 64px;
  color: white;
}

.fa-instagram:hover,
a:hover {
  color: #454650;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  row {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
